





body {

    margin: 0;
}

:root {
  --secondary: rgb(33, 153, 0);
  --tertiary: rgb(133, 195, 117);
  --incoming-glow: green;
  --outgoing-glow: red;
  --upcoming-incoming-glow: #B7FF00;
  --upcoming-outgoing-glow: #FF8C00;
/*Light Mode*/
  --nav-bar: white;
  --primary: white;
  --text: black;
  --border: rgb(134, 131, 131);
  --trans-background: rgb(226, 226, 226)
}

.dark-mode {
  --nav-bar: rgb(28, 28, 28);
  --primary: rgb(54, 54, 54);
  --text: white;
  --trans-background: rgb(30, 30, 30)
}

.colourblind-mode {
  --incoming-glow: #009E73;
  --outgoing-glow: #0072B2;
  --upcoming-incoming-glow: #E69F00;
  --upcoming-outgoing-glow: #CC79A7;
  --secondary: #0072B2;
  --tertiary: #56B4E9;
}

