#budget-container {
    margin: 0;
    /* background-color: var(--primary); */
    height: 814px;
    color: var(--text);
    /* padding-top: 20px;
    padding-left: 30px; */
    box-sizing: border-box;
    background-color:rgb(232, 232, 214);
    margin: 0;
    padding: 0;
}
