<div id = 'transactions-container'>
    <div id = 'accounts-list' class = 'container-test'>
        <h2 id = 'accounts-title' class="title">Accounts:</h2>
        <div *ngIf="loading" class="loading-spinner">
            <div class="spinner"></div>
        </div>
        <div *ngIf="!loading" class="account select-all" [class.selected-account]="selectedAccounts.length === accounts.length" (click)="toggleAllAccounts()">
            <span>Select All</span>
        </div>
        <div class="account" *ngFor="let account of accounts" [class.selected-account]="selectedAccounts.includes(account.id)" (click)="toggleAccount(account.id)">
            <span>{{ account.accountName }}</span>
            <span> - Balance: {{ getCurrencySymbol(currency) }}{{ account.balance }}</span>
        </div>
    </div>
    <div id = 'middle-col'>
        <h1 id = 'transactions-title'>Transactions</h1>
        <div id = 'regular-transactions' class = 'container-test'>
            <h2 class = 'title'>Reccuring Transactions:</h2>
            <div *ngIf="loading" class="loading-spinner">
                <div class="spinner"></div>
            </div>
            <div *ngIf="!loading" id="regular-scroll-box">
                <div class="transaction" *ngFor="let transaction of displayedRegularTransactions" [ngClass]="{'incoming-transaction': isIncoming(transaction), 'outgoing-transaction': !isIncoming(transaction), 'selected-transaction': selectedTransaction?.id === transaction.id}" (click)="selectTransaction(transaction)">
                    <div class="transaction-recipient">{{ userNames[getOtherUserId(transaction)] }} <span *ngIf="getOtherAccount(transaction)">({{ getOtherAccount(transaction)?.accountName }})</span></div>
                    <div class="transaction-date">Next: {{ getNextTransactionDate(transaction) | date:'dd MMM yyyy @ hh:mm a' }}</div>
                    <div class="transaction-categories">Description: {{ transaction.categories.join(', ') }}</div>
                    <div class="transaction-amount">{{ isIncoming(transaction) ? '+' : '-' }}{{ getCurrencySymbol(currency) }}{{ transaction.amount }}</div>
                </div>
            </div>
        </div>
        <div id = 'upcoming-transactions' class = 'container-test'>
            <h2>Next Payment</h2>
            <div *ngIf="selectedAccounts.length > 0 && upcomingTransaction; else noUpcoming">
                <div class="transaction upcoming-transaction" [ngClass]="{ 'outgoing-transaction': !isIncoming(upcomingTransaction), 'incoming-transaction': isIncoming(upcomingTransaction), 'selected-transaction': selectedTransaction?.id === upcomingTransaction.id}" (click)="selectTransaction(upcomingTransaction)">
                    <div class="transaction-recipient">{{ userNames[getOtherUserId(upcomingTransaction)] }} <span *ngIf="getOtherAccount(upcomingTransaction)">({{ getOtherAccount(upcomingTransaction)?.accountName }})</span></div>
                    <div class="transaction-date">{{ getNextTransactionDate(upcomingTransaction) | date:'dd MMM yyyy @ hh:mm a' }}</div>
                    <div class="transaction-categories">Description: {{ upcomingTransaction.categories.join(', ') }}</div>
                    <div class="transaction-amount">-{{ getCurrencySymbol(currency) }}{{ upcomingTransaction.amount }}</div>
                </div>
            </div>
            <ng-template #noUpcoming><p>No upcoming transactions</p></ng-template>
        </div>
    </div>
    <div id = 'right-col'>
        <div id = 'right-top'>
            <div id="transactions" class = 'container-test'>
                <h2 class = 'title'>Transactions:</h2>
                <div *ngIf="loading" class="loading-spinner">
                    <div class="spinner"></div>
                </div>
                <div *ngIf="!loading" id = 'scroll-box'>
                    <ng-container *ngFor="let transaction of displayedTransactions">
                        <div class="transaction" *ngIf="isPastTransaction(transaction)" [ngClass]="{'incoming-transaction': isIncoming(transaction), 'outgoing-transaction': !isIncoming(transaction), 'selected-transaction': selectedTransaction?.id === transaction.id}" (click)="selectTransaction(transaction)">
                             <div class="transaction-recipient">{{ userNames[getOtherUserId(transaction)] }} <span *ngIf="getOtherAccount(transaction)">({{ getOtherAccount(transaction)?.accountName }})</span></div>
                            <div class="transaction-date">{{ transaction.date | date:'dd MMM yyyy @ hh:mm a' }}</div>
                            <div class="transaction-categories">Description: {{ transaction.categories.join(', ') }}</div>
                            <div class="transaction-amount">{{ isIncoming(transaction) ? '+' : '-' }}{{ getCurrencySymbol(currency) }}{{ transaction.amount }}</div>
                        </div>
                    </ng-container>
                </div>
            </div>
            <div id = 'add-transactions' class = 'container-test'>
                <h2>Add Transaction:</h2>
                <form (ngSubmit)="addTransaction()">
                    <label>Transaction Type:</label>
                    <div class="transaction-toggle">
                        <span [class.active]="!newIncoming">Outgoing</span>
                        <label class="switch">
                            <input type="checkbox" name="incoming" [(ngModel)]="newIncoming">
                            <span class="slider"></span>
                        </label>
                        <span [class.active]="newIncoming">Incoming</span>
                    </div>
                    <div class="form-group">
                        <label for="recipient">{{ newIncoming ? 'Sender:' : 'Recipient:' }}</label>
                        <input
                            type="text"
                            id="recipient"
                            name="recipient"
                            [(ngModel)]="newRecipientId"
                            required
                        >
                    </div>
                    <div class="form-group">
                        <label for="amount">Amount:</label>
                        <input
                            type="number"
                            id="amount"
                            name="amount"
                            [(ngModel)]="newAmount"
                            min="0"
                            step="0.01"
                            required
                        >
                    </div>
                    <div class="form-group">
                        <label for="category">Description:</label>
                        <input
                            type="text"
                            id="category"
                            name="category"
                            [(ngModel)]="newCategories"
                            required
                        >
                    </div>
                    <div class="form-group">
                        <label for="date">Date:</label>
                        <input
                            type="datetime-local"
                            id="date"
                            name="date"
                            [(ngModel)]="newDate"
                            required
                        >
                    </div>
                    <div class="form-group">
                        <label for="regular">
                            <input
                                type="checkbox"
                                id="regular"
                                name="regular"
                                [(ngModel)]="newRegular"
                            >
                            Recurring transaction
                        </label>
                    </div>
                    <div class="form-group" *ngIf="newRegular">
                        <label for="frequency">Frequency:</label>
                        <select
                            id="frequency"
                            name="frequency"
                            [(ngModel)]="newFrequency"
                        >
                            <option value="daily">Daily</option>
                            <option value="weekly">Weekly</option>
                            <option value="monthly">Monthly</option>
                            <option value="yearly">Yearly</option>
                        </select>
                    </div>
                    <button type="submit">
                        Add Transaction
                    </button>
                </form>
            </div>
        </div>
        <div id = 'transaction-details' class = 'container-test'>
            <p *ngIf="!selectedTransaction">Click on a transaction to see details</p>
            <div id ='details-container' *ngIf="selectedTransaction" [ngClass]="{'incoming-details': isIncoming(selectedTransaction), 'outgoing-details': !isIncoming(selectedTransaction)}">
                <h1 class = 'title'>Transaction Details:</h1>
                <h3>Amount: {{ getCurrencySymbol(currency) }}{{ selectedTransaction.amount }}</h3>
                <h3>{{ isIncoming(selectedTransaction) ? 'From' : 'To' }}: {{ userNames[getOtherUserId(selectedTransaction)] }} <span *ngIf="getOtherAccount(selectedTransaction)">({{ getOtherAccount(selectedTransaction)?.accountName }})</span></h3>
                <h3>Date: {{ selectedTransaction.date | date:'dd MMM yyyy @ hh:mm a' }}</h3>
                <h3>Description: {{ selectedTransaction.categories.join(', ') }}</h3>
                <ng-container *ngIf="selectedTransaction?.regular">
                    <h3>Frequency: {{ selectedTransaction.frequency }}</h3>
                    <h3>Next transaction: {{ getNextTransactionDate(selectedTransaction) | date:'dd MMM yyyy @ hh:mm a' }}</h3>
                </ng-container>
                <button class="delete-button" type="button" (click)="deleteTransaction()" aria-label="Delete transaction" title="Delete transaction">🗑</button>
            </div>
        </div>
    </div>
</div>